<h2> results from your round </h2>

<p>total guesses: </p> <span> <%= @round.guesses.length %></span>
<p>total cards in deck: </p> <span> <%= @round.deck.cards.length %></span>
<p>score: </p> <span> <%= @score %> %</span>